  @charset "utf-8";
 


  
  {
	  margin:0;
	  padding:0;
	  box-sizing:border-box;
  }
  body{
	  background-color:	#FFD700;
	  font-family:"josefin sans",sans-setif;
	  font-size:2vw;
	  text-align:center;
	  margin:auto;
  }
  .main{
	  width:500px;
	  margin:50px auto;
	  border:3px solid #dc143c;
	  background-color:	#00FFFF;
  }
  .form-box{
	  padding:25px;
  }
  .inp,#msg-box{
	  width:100%;
	  padding:10px;
	  margin-bottom:10px;
	  border:3px solid #0000FF;
  }
  
